.rooms a {
    color: rgba(16, 55, 29, 1);
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    background-color: rgba(16, 55, 29, 0.2);
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.rooms a:hover {
    background-color: rgba(16, 55, 29, 0.3);
}
