<div class="hex-map">
    <p>C'mon, play some </p>
    <h1>{{ title }}</h1>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
        </div>
        <div class="hex-semirow">
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
    </div>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
        <div class="hex-semirow">
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
    </div>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
        <div class="hex-semirow">
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
    </div>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
        <div class="hex-semirow">
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
    </div>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
        <div class="hex-semirow">
            <span class="hex"></span>
            <span class="hex"></span>
        </div>
    </div>
    <div class="hex-row">
        <div>
            <span class="hex"></span>
        </div>
    </div>
</div>
