h1 {
    font-family: 'Orbitron', sans-serif;
    color: #10371d;
}

.hex-map {
    text-align: center;
    width: 400px;
}

.hex {
    color: #10371d;
    font-size: 60px;
    margin: -5px;
}

.hex:hover {
    color: #2c9b5f;
}

.hex:before {
    content: '⬢';
}

.hex-row {
    margin-bottom: -62px;
}

.hex-row.header {
    margin-bottom: -70px;
}

.hex-semirow {
    top: -31px;
    position: relative;
}
