h1 {
    font-family: 'Orbitron', sans-serif;
    color: #10371d;
}

header,
nav,
.hex-map {
    text-align: center;
}

.hex {
    color: #10371d;
    font-size: 60px;
    display: inline-block;
    width: 46px;
}

.hex:hover {
    color: #2c9b5f;
}

.hex:before {
    content: '⬢';
}

.hex-row {
    height: 40px;
}
